* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* /////////////////////////////////////////// */

.header {
  width: 100%;
  background-color: rgb(112, 37, 37);
}
.menu {
  width: 100%;
  padding: 30px 0;
}
h1 {
  color: white;
  font-size: 45px;
}
.parent_li_menu {
  display: flex;
  gap: 25px;
}
.parent_li_menu li {
  list-style: none;
  margin-top: 15px;
}
.parent_li_menu a {
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
}
/* /////////////////////////////////////////// */

.newDiv {
  width: 900px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  margin: 20px auto;
  padding-bottom: 320px;
  background-color: gray;
}
.newDiv h3 {
  padding: 10px;
}
.newDivInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 15px;
}
.img_info {
  width: 350px;
  border: 2px solid black;
  border-radius: 10px;
}
.p_text {
  font-size: 20px;
}
/* /////////////////////////////////////////// */

footer {
  width: 100%;
  background-color: black;
}
.footer_inner_1 {
  padding: 30px 0;
}
h6 {
  font-weight: 600;
  color: white;
  font-size: 35px;
  margin-bottom: 30px;
}
.parent_li_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.parent_li_footer > li {
  color: white;
  list-style: none;
  font-weight: 500;
}
.footer_inner_2 {
  height: 400px;
}
.parent_for_down_li_parent {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.parent_for_down_li {
  width: 220px;
  /* background-color: aqua; */
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parent_li_footer_down li {
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
}
.div_line {
  height: 60%;
  width: 1px;
  background-color: white;
}
